@model Futbapp.Models.Usuario

@{
    ViewBag.Title = "MiPerfil";
}

<div class="container col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>NombreUsuario</h2>
    </div>
    <section class="col-sm-4">
        <div><strong>Nombre</strong></div>
        <div>@Model.Nombre</div>
        <div><strong>Apellido</strong></div>
        <div>@Model.Apellido</div>
        <div><strong>Email</strong></div>
        <div>@Model.Email</div>
        <div><strong>Equipo</strong></div>
        <div><strong>Zona</strong></div>
    </section>
    <section class="col-sm-8">
        <table class="table table-condensed">
            <thead class="col-sm-12">
                <tr>
                    <th>Fecha</th>
                    <th>Equipo</th>
                    <th>Equipo Ganador</th>
                    <th>Goles hechos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
            </tbody>
</table>
</section>
</div>