@using Futbapp.Models
@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link  rel="stylesheet" type="text/css" href="~/Content/index.css">
    }
	<header class="col-sm-12">
		<div class="col-sm-offset-1 col-sm-10">
			<h1 class="col-sm-offset-3 col-sm-6">Bienvenido a Futbapp</h1><br />
		</div>
        <div class="col-sm-offset-1 col-sm-10">
            <p class="col-sm-12 ">
                Futball es la web donde podrás registrar a tu equipo de futbol y llevar a cabo encuentros
                con otros equipos de diferentes lugares. Podrás ver tu historial de juegos, puntuación de tu equipo, juegos que se llevarán a cabo y mucho más, tan solo tenes que registrarte
            </p>

        </div>
    </header>
	<!-------------------- ******************** -------------------->

    <div id="myCarousel" class="carousel slide col-sm-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Image/carrousel1.jpg" class="img-rounded">
            </div>

            <div class="item">
                <img src="~/Image/carrousel2.jpg" class="img-rounded">
            </div>

            <div class="item">
                <img src="~/Image/carrousel3.jpg" class="img-rounded"/>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

	<!-------------------- ******************** -------------------->

    <div class="container col-sm-12">
        <h2>Top equipos</h2>
        <table class="table table-condensed">
            <thead class="col-sm-12">
                <tr>
                    <th>Posición</th>
                    <th>Nombre de equipo</th>
                    <th>Puntos</th>
                    <th>Lider</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>V</th>
                    <th>E</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody class="col-sm-12">
                <tr class="posicion1">
                    <th>1</th>
                    <th>LosPibes</th>
                    <th>120</th >
                    <th>JavierRomero</th>
                    <th>144</th>
                    <th>75</th>
                    <th>35</th>
                    <th>9</th>
                    <th>12</th>
                    

                </tr>
                <tr class="posicion2">
                    <th>2</th>
                    <th>ElKM36</th>
                    <th>118</th>
                    <th>TheRichard123</th>
                    <th>128</th>
                    <th>81</th>
                    <th>29</th>
                    <th>9</th>
                    <th>12</th>
              </tr>
                <tr class="posicion3">
                    <th>3</th>
                    <th>TopRulls</th>
                    <th>112</th>
                    <th>RiquelmeR10</th>
                    <th>113</th>
                    <th>88</th>
                    <th>29</th>
                    <th>16</th>
                    <th>13</th>
             </tr>
            </tbody>
        </table>
    </div>

    <!-------------------- ******************** -------------------->


    <div class="container col-sm-12">
        <h2>Top Jugadores</h2>
        <table class="table table-condensed">
            <thead class="col-sm-12">
                <tr>
                    <th>Posición</th>
                    <th>Nombre</th>
                    <th>Equipo</th>
                    <th>Partidos jugados</th>
                    <th>G</th>
                </tr>
            </thead>
            <tbody class="col-sm-12">
                <tr class="posicion1">
                    <th>1</th>
                    <th>RiquelmeR10</th>
                    <th>TopRulls</th>
                    <th>58</th>
                    <th>68</th>
                </tr>
                <tr class="posicion2">
                    <th>2</th>
                    <th>OneShotOneGol</th>
                    <th>LosPibes</th>
                    <th>56</th>
                    <th>66</th>

                </tr>
                <tr class="posicion3">
                    <th>3</th>
                    <th>ElBrayan</th>
                    <th>LosPibes</th>
                    <th>56</th>
                    <th>59</th>

                </tr>
            </tbody>
        </table>
    </div>

	<!-------------------- ******************** -------------------->

    <section class="col-sm-12 seccionContacto" id="contacto">
        <div class="col-sm-offset-3 col-sm-6">
            <h3 class="col-sm-offset-3 col-sm-6">Déjenos su comentario</h3>
        </div>
        <form method="post" action="@Url.Action("ComentarioContacto", "Home")" class="form-horizontal col-sm-offset-3 col-sm-6" onsubmit="return validarContacto()">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su E-mail" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" id="comentario" name="comentario" placeholder="Deje su comentario" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-large btn-block">Enviar</button>
                </div>
            </div>
        </form>
    </section>


