@{
    ViewBag.Title = "Home Page";
}


	<header class="col-sm-12">
		<div class="col-sm-offset-1 col-sm-10">
			<h1 class="col-sm-offset-3 col-sm-6">Bienvenido a Futbapp</h1><br />
		</div>
        <div class="col-sm-offset-1 col-sm-10">
            <p class="col-sm-12 ">
                Futball es la web donde podrás registrar a tu equipo de futbol y llevar a cabo encuentros
                con otros equipos de diferentes lugares. Podrás ver tu historial de juegos, puntuación de tu equipo, juegos que se llevarán a cabo y mucho más, tan solo tenes que registrarte
            </p>

        </div>
    </header>
	<!-------------------- ******************** -------------------->

	<section class="seccionForm col-sm-12">
		<div class="col-sm-offset-3 col-sm-6">
			<h3 class="col-sm-offset-3 col-sm-6">Registro</h3>
		</div>
		<form class="form-horizontal col-sm-offset-3 col-sm-6"  onsubmit="return validarRegistro()">
			<div class="form-group">
			<div class="col-sm-12">
			    <input type="text" class="form-control" id="usuario" placeholder="Ingrese un nombre de usuario" required>
			</div>
			</div>
			<div class="form-group">
			<div class="col-sm-12">
			    <input type="email" class="form-control" id="email" placeholder="Ingrese su E-mail" required>
			</div>
			</div>
			<div class="form-group">
			<div class="col-sm-12">
			    <input type="password" class="form-control" id="password" placeholder="Ingrese su password (minimo 4 caracteres)" required>
			</div>
			</div>
			<div class="form-group">
			<div class="col-sm-12">
			    <input type="password" class="form-control" id="password2" placeholder="Repita su password" required>
			</div>
			</div>
			<div class="form-group"> 
			<div class="col-sm-12">
			    <button type="submit" class="btn btn-primary btn-large btn-block">¡Registrarse!</button>
			</div>
			</div>
		</form>
	</section>

	<!-------------------- ******************** -------------------->

	<section class="col-sm-12 seccionSecundaria" id="info">
		<div class="col-sm-offset-1 col-sm-10">			
			<div class="col-sm-4">
				<img src="~/Image/principal.jpg" class="img-rounded">
			</div>
			<div class="col-sm-offset-2 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</div>
		</div>
	</section>

	<!-------------------- ******************** -------------------->

	<section class="col-sm-12 seccionContacto" id="contacto">		
		<div class="col-sm-offset-3 col-sm-6">
			<h3 class="col-sm-offset-3 col-sm-6">Contacto</h3>
		</div>
		<form method="post" action="@Url.Action("ComentarioContacto", "Home")" class="form-horizontal col-sm-offset-3 col-sm-6"  onsubmit="return validarContacto()">
		  <div class="form-group">
		    <div class="col-sm-12">
		      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-12">
		      <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su E-mail" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-12">
		      <textarea class="form-control" id="comentario" name="comentario" placeholder="Deje su comentario" required></textarea>
		    </div>
		  </div>
		  <div class="form-group"> 
		    <div class="col-sm-12">
		      <button type="submit" class="btn btn-primary btn-large btn-block">Enviar</button>
		    </div>
		  </div>
		</form>
	</section>


