body{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30;
}
h3{
    font-size: 25;
}

.hoverNav:hover {
    background-color: #31708f;
    color: black;
}