.posicion1{
    background-color:lawngreen;
}
.posicion2{
    background-color:yellow;
}
.posicion3{
    background-color: red;
}

.carousel-inner img{
    margin: 0 auto;
}

h2{
    text-align:center;
}